In [2]:
import pandas as pd

## データフレームの作成

In [6]:
# データフレームの作成
df = pd.DataFrame()

# 列の追加
df["Name"] = ["Taro","Hanako"]
df["age"] = [20, 30]

# データフレームの表示
df

     Name  age
0    Taro   20
1  Hanako   30

In [4]:
df

     Name  age
0    Taro   20
1  Hanako   30